<%- include('./partials/header') %>
<main>
  <h1 class="title">Running-Track</h1>
  <div class="intro">
    <ul>
      <i class="fa fa-check-square-o"></i>
      Set your monthly running goals, enter the details of your planned and
      completed runs and automatically track your progress.<br />
      <i class="fa fa-check-square-o"></i>
      View other users runs and clap each other!<br />
      <i class="fa fa-check-square-o"></i>
      Access your runs on the go, no need for notepads or spreadsheets.<br />
      <i class="fa fa-check-square-o"></i>
      It's easy to use, secure and free.<br />
    </ul>

    <img id="runner" src="/images/runner.png" />
    <!-- <a href="https://www.vecteezy.com/free-png/fitness"
    >Fitness PNGs by Vecteezy</a
  > -->
  </div>
</main>
<%- include('./partials/footer') %>
