<%- include('../partials/header') %>
<main>
  <div class="dashboard">
    <h2>Add New Monthly</h2>
    <h2>Running Goal</h2>
    <form action="/goals/" method="POST">
      <label>Goal Date (month and year):</label>
      <input type="month" min="2024-01" name="startDate" />
      <label>Target Number of Runs: </label>
      <input type="number" min="1" name="targetRuns" />
      <button class="create-button" type="submit">
        &nbsp;Add Goal&nbsp;<i class="fa fa-plus">&nbsp;</i>
      </button>
    </form>
    <p class="error"><%= message %></p>
  </div>
</main>
<%- include('../partials/footer') %>
