@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: rgb(146,215,98);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  font-weight: 500;
  margin-bottom: 5px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: rgb(40,107,250);
  text-decoration: none;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(40,107,250);
  color: white;
  height: 50px;
}

nav > a {
 color: white;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  margin-top: auto;
  height: 25px;
  background-color: rgb(40,107,250);
  color: white;
}

.error {
  color: red;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  margin-bottom: 10px;
  border-collapse: collapse;
  text-align: center;
}

th, td {
  border: 1px solid black;
  text-align: center; 
  vertical-align: middle;
}

th {
  font-weight: 500;
  background-color: lightgray;
}

td img{
  display: inline;
  margin-left: auto;
  margin-right: auto;
}

button {
  background-color:  rgb(40,107,250);
  color: white;
  border-radius: 5px;
  border: none;
  margin: 3px;
  padding: 3px;
  cursor: pointer;
}

.delete-button {
  background-color: red;
}

.clap-button {
  background-color: rgb(40,107,250);
  border-radius: 50%;
}

.clap-button >img {
  height: 18px;
  width: 18px;
  padding-top: 5px;
}

#sync {
  border: none;
}

#runner {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.intro {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar img {
  border-radius: 50%;
  height: 22px;
}

